tw/output/index.html
tw/tiddlers/_system/StoryList.tid
node_modules/
.firebase
.firebaserc
firebase_custom.json
public/index.html
*.swp
etc/service-account-key.json
etc/keys.json
etc/config.json
functions/ui-debug.log
functions/firebase-debug.log
functions/config.json
.DS_Store
