*.swp
.DS_Store
.firebase
.firebaserc
dist/
etc/config.json
etc/*/*.json
!etc/example/*.json
firebase-debug.log
firebase_custom.json
functions/index.js*
functions/node_modules
functions/package.json
node_modules/
public/tw5.html
public/sourcemaps
ui-debug.log
generated/jsonschema/*
.nyc_output/
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
